.block {
    width: 30%;
    margin: 0 auto;    
}
.queue {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}
.queue_item {
    margin: 0.2em 0;
    padding: 0.2em;
    border:1px solid #ccc;
}